# # Ignore List

# ## Misc

*.log
npm-debug.*
*.scssc
*.swp
.DS_Store
Thumbs.db
.sass-cache
.env
.cache
.vscode
.markdownlint.json

# ## Node modules and output
**/node_modules/**
dist
# %% why did I ignore the following inlcude css
src/_includes/css/

# ## Local Netlify folder
.netlify

# ## Documents and notes
docs

## Yarn files see [Questions & Answers | Yarn](https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored)

.yarn/*
.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions