// ===Colors===
/* the colours are defined here*/
$sealblue: #4293d3;
$whitefur: #edf2ef;
$arcticnight: #00120a;
$royalsuede: #6e4f5f;
$newbruise: #4a1f35;
$chocolatewine: #291720;
$oceanfloor: #010f11;
$white: #eedddd;


// ===Contrasts===
$darkest: $oceanfloor !default;
$lightest: $whitefur !default;
$highlight: $royalsuede !default;
$oceangreen: hsl(154, 34.0%, 59.0%);
$racinggreen: hsl(150, 100%, 12.2%);
$mintgreen: hsl(154, 42.2%, 83.7%);



// === <- Dark Theme -> ===
$bgcol: $darkest;
$fgcol: $lightest;


// === <- Light Theme -> ===

