// ===Colors===
/* the colours are defined here*/
$sealblue: hsl(206, 62%, 54%);
$whitefur: hsl(144, 16%, 94%);
$arcticnight: hsl(153, 100%, 4%);
$royalsuede: hsl(328, 16%, 37%);
$newbruise: hsl(329, 41%, 21%);
$chocolatewine: hsl(330, 28%, 13%);
$oceanfloor: hsl(188, 89%, 4%);
$white: hsl(0, 33%, 90%);

// ===Contrasts===
$darkest: $oceanfloor !default;
$lightest: $whitefur !default;
$highlight: $royalsuede !default;
$oceangreen: hsl(154, 34%, 59%);
$racinggreen: hsl(150, 100%, 12.2%);
$mintgreen: hsl(154, 42.2%, 83.7%);

// === <- Dark Theme -> ===
$bgcol: $darkest;
$fgcol: $lightest;

// === <- Light Theme -> ===

