@use "colors" as c0l;
@use "utilities/type" as typ;

// === <- Root --> ===
html {
  /* // variables */
  --flow-space: 1.2em;
  --fgcol: #{c0l.$fgcol};
  --bgcol: #{c0l.$bgcol};
  --highlight: #{c0l.$highlight};
  /* // colors */
  --sealblue: #{c0l.$sealblue};
  --whitefur: #{c0l.$whitefur};
  --arcticnight: #{c0l.$arcticnight};
  --royalsuede: #{c0l.$royalsuede};
  --newbruise: #{c0l.$newbruise};
  --chocolatewine: #{c0l.$chocolatewine};
  --oceanfloor: #{c0l.$oceanfloor};
  --white: #{c0l.$white};
  --darkest: #{c0l.$darkest};
  --lightest: #{c0l.$lightest};
  --oceangreen: #{c0l.$oceangreen};
  --racinggreen: #{c0l.$racinggreen};
  --mintgreen: #{c0l.$mintgreen};
  /* //fonts */
  --display: #{typ.$display};
  --bodycopy: #{typ.$bodcopy};
  --semibold: #{typ.$semibold};
  --bold: #{typ.$bold};
  --semilight: #{typ.$semilight};
}

// I think I have these backwards. Need to look more into coding themes with CSS variables
