@use "colors" as clr;
@use "utilities/type" as typ;

// === <- Root --> ===
html {
  /* // variables */
  --flow-space: 1.2em;
  /* // raw palette color(u)s */
  --clr-sealblue: #{clr.$sealblue};
  --clr-whitefur: #{clr.$whitefur};
  --clr-arcticnight: #{clr.$arcticnight};
  --clr-royalsuede: #{clr.$royalsuede};
  --clr-newbruise: #{clr.$newbruise};
  --clr-chocolatewine: #{clr.$chocolatewine};
  --clr-oceanfloor: #{clr.$oceanfloor};
  --clr-white: #{clr.$white};
  --clr-oceangreen: #{clr.$oceangreen};
  --clr-racinggreen: #{clr.$racinggreen};
  --clr-mintgreen: #{clr.$mintgreen};

  /* // Semantic definitions */
  --color-darkest: #{clr.$darkest};
  --color-lightest: #{clr.$lightest};
  --color-fg: #{clr.$fgcol};
  --color-bg: #{clr.$bgcol};
  --color-highlight: #{clr.$highlight};

  /* //fonts */
  --font-body: #{typ.$text};
  --font-display: #{typ.$display};
  //fontweights
  --w-bodycopy: #{typ.$bodcopy};
  --w-semibold: #{typ.$semibold};
  --w-bold: #{typ.$bold};
  --w-semilight: #{typ.$semilight};
}
@supports (font-variation-settings: normal) {
  html {
    /* // fonts & weights */
    --font-body: #{typ.$textvar};
    --w-bodycopy: #{typ.$bodcopyvar};
    --w-semibold: #{typ.$semiboldvar};
    --w-bold: #{typ.$boldvar};
    --w-semilight: #{typ.$semilightvar};
  }
}