// === Font faces ===
$text: 'Inter', 'Courier New', Courier, monospace;
$display: 'Sansita Swashed', 'Baskerville', serif;

// ===Weights===

$bodcopy: 335 !default;
$semibold: 525 !default;
$bold: 690 !default;
