// === Font faces ===
$text: "Inter", "Courier New", Courier, monospace;
$textvar: "InterVariable", Futura, sanserif;
$display: "Sansita Swashed", "Baskerville", serif;

// ===Weights===

$bodcopy: 300 !default;
$semibold: 500 !default;
$bold: 700 !default;
$semilight: 200;
$bodcopyvar: 335 !default;
$semiboldvar: 525 !default;
$boldvar: 690 !default;
$semilightvar: 245;
