{% set assetHash = global.random() %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="{{ description }}">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>{{ title }}</title>
    <!-- === These are critical styles === -->
    <style type="text/css">
      {% include "css/critical.css" %}
    </style>
    <!-- end critical -->
    <!-- === These are sealfur styles === -->
    <style type="text/css">
      {% include "css/sealfur.css" %}
    </style>
    <!-- end sealfur -->
    {# Add facility for pages to declare an array of critical styles #}
    {% if pageCriticalStyles %}
      {% for item in pageCriticalStyles %}
        <!-- these are page-critical styles -->
        <style type="text/css">
          {% include item %}
        </style>
      {% endfor %}
    {% endif %}
    <link rel="stylesheet" type="text/css" media="print" href="/fonts/fonts.css?{{ assetHash }}" onload="this.media='all'"/>

    {# Add facility for pages to declare an array of stylesheet paths #}
    {% if pageStylesheets %}
      {% for item in pageStylesheets %}
        <link rel="stylesheet" type="text/css" media="print" href="{{ item }}?{{ assetHash }}" onload="this.media='all'"/>
      {% endfor %}
    {% endif %}
  </head>
  <body>
    {% include "partials/site-head.html" %}
    <main tabindex="-1" id="main-content" class="[ flow ]">
      {% block content %}{% endblock %}
    </main>
  </body>
</html>