// article
main > article {
  //   grid-column-start: 1;
  //   grid-column-end: 5;
  //   display: inherit;
  //   grid-template-columns: inherit;
  .page-header {
    width: clamp(36ch, 80vw, 120ch);
    // display: inherit;
    // grid-template-columns: inherit;
    // grid-column: inherit;
    display: flex;
    justify-content: space-between;
    color: #d5f2e3;
    flex-flow: row wrap;

    h1 {
      // grid-column: 1 / 4;
      font-size: 2rem;
    }

    .page-header {
      // display: inherit;
      // grid-template-columns: inherit;
      // grid-column: inherit;
      &__heading {
        // grid-column: 1 / 4;
      }
      &__summary {
        // grid-column: 2 / 5;
        // grid-template-columns: 2fr 1fr 1fr 1fr;
        // display: inherit;
        margin-inline-start: 1rem;
        --flow-space: 1em;
        p {
          // grid-column-end: end;
        }
        time {
          // grid-column: 3 / 4;
        }
        .tags-list {
        }
      }
      // .measure-long {
      //   grid-column: 2 / 5;
      //   p {
      //     grid-column: inherit;
      //   }
      // }
    }
  }
}
#post-list {
  // grid-column: 2 / 4;
  margin-block-start: 1rem;
  ol.post-list {
    li {
      a {
        font-weight: 600;
        font-size: 1.4em;
        font-style: italic;
      }
    }
  }
}

.page-content {
  width: clamp(36ch, 60vw, 80ch);
  // grid-column: 2 /5;
  margin-block-start: 1.5rem;
}
