@use "../utilities/colors" as clr;
@use "../utilities/type" as typ;

// article
main > article {
  font-size: clamp(0.9em, 1.8vw, 1.2em);
  .page-header {
    width: clamp(14ch, 90vw, 200ch);
    display: flex;
    justify-content: space-between;
    color: var(--fgcol);
    flex-flow: row wrap;
    margin-block-end: 1em;

    &__heading,
    h1 {
          font-size: 2.5rem;
      margin-inline-end: clamp(0.2rem, 10%, 1rem);
      line-height: 0.9;
      align-self: flex-end;
      text-shadow: 0.05em 0.05em var(--highlight);
      flex-grow: 5;
    }
    &__summary {
      display: flex;
      margin-inline-start: 0.1rem;
      --flow-space: 0.5em;
      justify-content: space-between;
      flex-grow: 1;
      align-content: flex-end;
      flex-flow: row wrap;
      align-self: flex-end;
      font-variant-caps: small-caps;
      > * {
        font-size: 0.8rem;
      }
      p {
        margin: 0;
        align-self: flex-end;
        margin-top: inherit;
        letter-spacing: -0.03em;
        font-variation-settings: "wght" typ.$semilight, "slnt" -5.51;
        font-size: clamp(0.9em, 1.8vw, 1.2em);
        color: var(--sealblue);
        font-variant-caps: normal;
      }
      time {
        font-weight: typ.$bold;
        color: var(--fgcol);
        flex-grow: 3;
        align-self: flex-end;
      }
      .tags-list {
        text-align: end;
        flex-grow: 1;
        a {
          text-decoration-color: var(--highlight);
          text-decoration-thickness: 0.2em;
          &:hover {
          }
        }
      }
    }
  }
}

ol.post-list {
  li {
    a {
      display: inline-block;
      font-weight: var(--bodycopy);
      font-size: 1.6em;
      font-family: var(--display);
      letter-spacing: 0.03em;
      line-height: 1.1;
      margin-block-end: 0.5em;
    }
  }
}

.page-content {
  width: clamp(18ch, 90vw, 60ch);
}

.supplementary-material {
  font-size: 0.8em;
  background-color: var(--chocolatewine);
  padding-inline-start: 1em;
  padding-inline-end: 0.5em;
  h2::before {
    margin-inline-start: -2.1em;
  }
  & > p {
    margin-inline-start: 1em;
  }
  .conversation-icon {
    display: inline-block;
    margin-inline-start: -1.5em;
    font-style: initial;
    background-color: var(--chocolatewine);
    &.opening-icon {
      margin-inline-start: initial;
    }
  }
  blockquote {
    width: clamp(30ch, 90%, 70ch);
    border-color: var(--sealblue);
    font-family: "Fira Code", "Courier New", Courier, monospace;
  }
}
