@use '../utilities/colors' as c0l;

pre {
  font-size: 1rem;
  overflow: auto;
  background-color: c0l.$racinggreen;
  color: c0l.$whitefur;
  padding-inline-end: 0.5rem;
  padding-inline-start: 0.5rem;
  border-radius: 0.75rem;
  width: auto;
}
