@use "../utilities/colors" as c0l;
@use "utilities/type" as typ;

footer {
  border-top: 2px solid c0l.$sealblue;
  text-align: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding-block-start: 1rem;
  padding-block-end: 1rem;
  margin-block-start: auto;
  color: c0l.$sealblue;
  font-variation-settings: "wght" 435;
  .folio {
    em {
      font-variation-settings: "wght" 245;
    }
    a {
      color: c0l.$sealblue;
      text-decoration-color: c0l.$whitefur;
      text-decoration-style: wavy;
      &:hover {
        text-decoration-style: double;
        text-underline-offset: 0.2em;
      }
    }
  }
  span.navArrow {
    //this is in the footer of the blog index page for the "older · newer" navigation
    font-variation-settings: "wght" typ.$semilight;
    color: c0l.$royalsuede;
  }
  a:has(.navArrow) {
    font-family: typ.$display;
    text-decoration: none;
    padding-inline: 0.5em;
    // border: solid 1px rgba(74, 31, 53, 0.3);
    background-color: rgba(41, 23, 32, 0.3);
    &:hover {
      background-color: rgba(41, 23, 32, 0.7);
      // border: solid 1px rgba(74, 31, 53, 0.5);
      .navArrow {
        color: revert;
      }
    }
  }
}
:is(section, aside) footer {
  border-block: 2px double c0l.$chocolatewine;
  // border-block: 2px double c0l.$chocolatewine;
  margin-block-start: 1.15ex;
  padding-block: 0.85ex;
  font-size: 0.85em;
  nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  }
}
