@use '../utilities/colors' as c0l;
@use '../utilities/type' as typ;

// block => header
body > header {
  padding-inline-start: clamp(0.3rem, 3%, 2rem);
  padding-inline-end: clamp(0.3rem, 3%, 2rem);
  padding-block-start: 0.3rem;
  padding-block-end: clamp(.3rem,2%,2rem);
  border-bottom: 1px solid c0l.$sealblue;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: baseline;
}
.site-head {
  &__brand {
    width: max(50%, 30rem);
    display: block;
  }
  &__nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    font-family: typ.$display;
    font-weight: 500;
    font-size: clamp(1.1rem, 2.2vw, 2.5rem);
    width: clamp(30rem, 40vw, 42vw);
    text-shadow: 0.05em 0.05em c0l.$sealblue;
    a {
      display: block;
      height: min(50vw, 2rem);
      flex-basis: auto;
    }
  }&-minimal {
    &__brand {
      width: max(20%, 12rem);
      display: block;
    }
}
}