@use '../utilities/colors' as c0l;
@use '../utilities/type' as typ;

// block => header
body > header {
  margin-inline-start: clamp(0.3rem, 3%, 2rem);
  margin-inline-end: clamp(0.3rem, 3%, 2rem);
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: baseline;
}
.site-head {
  &__brand {
    width: max(50%, 30rem);
    display: block;
  }
  &__nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    font-family: typ.$display;
    font-weight: 500;
    font-size: clamp(1.1rem, 2.2vw, 2.5rem);
    width: clamp(30rem, 40vw, 42vw);
    text-shadow: 0.05em 0.05em c0l.$sealblue;
    a {
      display: block;
      height: min(50vw, 2rem);
      flex-basis: auto;
    }
  }
}
