// block => header
body > header {
  margin-inline-start: 2rem;
  margin-inline-end: 2rem;
  margin-inline: 1rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: baseline;
}
.site-head {
  &__brand {
    width: max(50%, 30rem);
    display: block;
  }
  &__nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    font-family: 'Sansita Swashed';
    font-weight: 300;
    font-size: clamp(0.5rem, 2.5vw, 2rem);
    width: clamp(30rem, 50vw, 70vw);
    a {
      display: block;
      height: min(50vw, 2rem);
      flex-basis: auto;
    }
  }
}
