@forward 'main';

main > article {
  //   display: inherit;
  //   grid-column: 1 / 5;
  //   grid-template-columns: inherit;

  header {
    width: clamp(36ch, 80vw, 120ch);
    // display: inherit;
    // grid-template-columns: inherit;
    // grid-column: inherit;
    display: flex;
    justify-content: space-between;
    color: #d5f2e3;
    flex-flow: row wrap;

    h1 {
      // grid-column: 1 / 4;
      font-size: 2rem;
    }
    p {
      // grid-column: 2 / 5;
    }
  }
  section {
    width: clamp(36ch, 60vw, 90ch);
    // grid-column: 2 / 5;
  }
}
