@use '../utilities/colors' as c0l;
@forward 'main';

main > .homecontent {
  // font-size: clamp(0.8em, 3.5vw, 1.2em);

  header {
    width: clamp(14ch, 90vw, 200ch);
    // display: inherit;
    // grid-template-columns: inherit;
    // grid-column: inherit;
    display: flex;
    justify-content: space-between;
    color: c0l.$fgcol;
    flex-flow: row wrap;

    h1 {
      // grid-column: 1 / 4;
      margin-inline-end: clamp(0.2rem, 10%, 1rem);
      margin-block-end: 0.5rem;
      font-size: 2.5rem;
      line-height: 0.9;
      text-shadow: 0.05em 0.05em c0l.$highlight;
    }
    p {
      // grid-column: 2 / 5;
      align-self: flex-end;
      margin-top: inherit; //need to override flow here, otherwise it pushes the subtitle down
      letter-spacing: -.03em;
      font-variation-settings: "wght" 215,"slnt" -3.51;
      font-style: italic;
      color: c0l.$sealblue;
    }
  }
  section {
    width: clamp(18ch, 90vw, 72ch);
    // grid-column: 2 / 5;
  }
}
