main {
  margin-block-start: 2rem;
  margin-inline-start: 2rem;
  margin-inline-end: 2rem;
  border-top: 1px #aaa solid;
  // display: grid;
  // grid-template-columns: 1fr 2fr 2fr 1fr;
  & > article {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
}
