main {
  margin-block-start:1.4rem;
  // margin-inline-start:clamp(0.3rem,3%,2rem);
  // margin-inline-end:clamp(0.3rem,3%,2rem);
  border-top:1px solid #aaa;
  padding-block-start: 0.8rem;
  // display: grid;
  // grid-template-columns: 1fr 2fr 2fr 1fr;
  & > article {
    font-size: clamp(0.8em, 3.5vw, 1.2em);
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
}
