@charset "UTF-8";
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

li.fake {
  display: none;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don’t have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01s !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01s !important;
    scroll-behavior: auto !important;
  }
}
/* the colours are defined here*/
:root {
  --flow-space: 1.2em;
  --fgcol: #edf2ef;
  --bgcol: #010f11;
  --sealblue: #4293d3;
  --whitefur: #edf2ef;
  --arcticnight: #00120a;
  --royalsuede: #6e4f5f;
  --newbruise: #4a1f35;
  --chocolatewine: #291720;
  --oceanfloor: #010f11;
  --white: #eedddd;
  --darkest: #010f11;
  --lightest: #edf2ef;
  --highlight: #6e4f5f;
  --oceangreen: hsl(154, 34%, 59%);
  --racinggreen: hsl(150, 100%, 12.2%);
  --mintgreen: hsl(154, 42.2%, 83.7%);
  --text: Inter var experimental, Inter var, Inter, Courier New, Courier, monospace;
  --display: Sansita Swashed, Baskerville, serif;
  --bodcopy: 335;
  --semibold: 525;
  --bold: 690;
  --semilight: 245;
}

body {
  background-color: var(--bgcol);
  color: var(--fgcol);
  font-family: "Inter var experimental", "Inter var", "Inter", "Courier New", Courier, monospace;
  font-weight: 335;
  font-feature-settings: "ss02", "salt", "cv01", "cv02", "cv03", "cv04", "cv09", "cv10", "calt", "kern";
}

a {
  color: var(--fgcol);
  text-decoration-color: var(--sealblue);
  text-decoration-thickness: 0.1em;
  text-underline-offset: 0.1em;
}
a:hover {
  text-decoration-thickness: 0.01em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Sansita Swashed", "Baskerville", serif;
}

sup {
  font-feature-settings: "sups";
  vertical-align: text-top;
}

html {
  font-family: "Inter", sans-serif;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}