---
permalink: /_redirects
eleventyExcludeFromCollections: true
---

{# See [Setting up page redirects with 11ty and Netlify](https://willvincent.com/2022/07/27/redirects-with-11ty-and-netlify/) #}

{%- for page in collections.all -%}
  {%- if page.url and page.data.redirectFrom -%}
    {%- if page.data.redirectFrom | is_string -%}
      {{ page.data.redirectFrom }}  {{ page.url }}  {{ page.data.redirectCode or '301'}}
    {%- else -%}
      {%- for oldUrl in page.data.redirectFrom -%}
        {{ oldUrl }}  {{ page.url }}  {{ page.data.redirectCode or '301'}}
        {%- if not loop.last -%}
          {{ '\n' }}
        {%- endif -%}
      {%- endfor -%}
    {%- endif -%}
    {{ '\n' }}
  {%- endif -%}
{%- endfor -%}