@use "utilities/root";
@use "utilities/type" as typ;
// @forward 'utilities/colors';

body {
  background-color: var(--bgcol);
  color: var(--fgcol);
  font-family: typ.$text;
  font-weight: typ.$bodcopy;
  font-feature-settings: "ss02", "salt", "cv01", "cv02", "cv03", "cv04", "cv09",
    "cv10", "calt", "kern";
}

a {
  color: var(--fgcol);
  text-decoration-color: var(--sealblue);
  text-decoration-thickness: 0.1em;
  text-underline-offset: 0.1em;
  &:hover {
    // text-underline-offset: -0.01em;
    text-decoration-thickness: 0.01em;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: typ.$display;
}

sup {
  font-feature-settings: "sups";
  vertical-align: text-top;
}
