// First up: reset, then config and functions
@use 'reset';
@use 'config';
@use "utilities/type" as typ;


html { --text: #{typ.$text};
--display: #{typ.$display};
  //fontweights
  --bodycopy: #{typ.$bodcopy};
  --semibold: #{typ.$semibold};
  --bold: #{typ.$bold};
  --semilight: #{typ.$semilight};
font-family: var(--text);
   }
@supports (font-variation-settings: normal) {
  html { --text: #{typ.$textvar};
--bodycopy: #{typ.$bodcopyvar};
  --semibold: #{typ.$semiboldvar};
  --bold: #{typ.$boldvar};
  --semilight: #{typ.$semilightvar}; }
}